.toast
  animation-duration 0.5s
  background rgba(0, 0, 0, 0.7)
  border-radius 14px
  bottom 30px
  box-shadow 0 0 1px #85DA1A inset
  color #fff
  font-size 12px
  left 18px
  line-height 1.4
  padding 3px 10px
  position fixed
  text-align center
  transition 0.5s all
  z-index 99999

  &.ERR
    background rgba(255, 0, 0, 0.8)
    border 1px solid rgba(255, 255, 255, 0.2)
    box-shadow 0 0 3px #f00 inset
    color #fff
    font-weight normal

    a
      color #eef

      &:hover
        color #ff0

  .I-close
    cursor pointer
    font-size 12px
    font-weight bold
    margin-left 8px
    user-select none

    &:hover
      color #0f0
