set -e
ROOT=`pwd`

if ! [ -x "$(command -v bun)" ]; then
  PATH_add $HOME/.bun/bin
  if ! [ -x "$(command -v bun)" ]; then
    curl https://bun.sh/install | bash
  fi
fi

PATH_add $ROOT/.direnv/bin

init() {
if [ ! -d $ROOT/$1/node_modules ] ; then
  cd $ROOT/$1
  bun i
  cd $ROOT
fi
}

init .
