btn-bg-img = var(--btn-bg-img)
checked-color = var(--checked-color)
hover-color = #f40
// 基于工具 https://www.zhangxinxu.com/sp/filter.html , 使用 #000 作为原始色，然后 hover-color 作为目标色
hover-filter = invert(42%) sepia(1) saturate(47)
focus-color = #06f
focus-filter = invert(52%) sepia(93%) saturate(70) hue-rotate(212deg)
btn-hover-color = #fff
