svg-wait = var(--svg-wait)
svg-run = var(--svg-run)
svg-dash = var(--svg-dash)
svg-dash-h = var(--svg-dash-h)
svg-nabla = var(--svg-nabla)
svg-right = var(--svg-right)
svg-refresh = var(--svg-refresh)
svg-pen = var(--svg-pen)
svg-pen-w = var(--svg-pen-w)
svg-i18n = var(--svg-i18n)
svg-x = var(--svg-x)
svg-x-h = var(--svg-x-h)
