@import './var.styl'

:global(u)
  text-decoration none

:global(b)
  font-weight normal

:global(i)
  font-style normal

:global(a)
  cursor pointer
  font-weight normal
  text-align center
  text-decoration none

  &:hover
    color hover-color

:global(u), :global(a), :global(i), :global(b), :global(p), :global(li), :global(span), :global(form), :global(div), :global(main)
  line-height 24px
