form
  :global(&>b)
    color #e00
    display block
    margin 0.5em 1em

  :global(&>b>a)
    border-bottom 2px solid #f00
    color #f00
    cursor pointer
    font-weight bold
    margin-left 3px
    padding-bottom 3px
    text-decoration none

  :global(&>b>a:hover)
    color #f00
    text-shadow 1px 1px 0 rgba(0, 0, 0, 0.1)
