@import './var/svg.styl'
@import './base.styl'
@import './run.styl'
@import './form.err.styl'

form
  display flex
  flex-direction column
  position relative

  &>u
    cursor wait
    display block
    margin 16px 32px 0
    position relative
