@import './var.styl'

// input[type]:not([type=radio], [type=checkbox])
:global(input:is([type=text], [type=password]))
  border 1px solid #ccc
  border-radius 0
  box-sizing border-box
  font-size 16px
  line-height 18px
  outline 0
  padding 16px
  width 100%

:global(input:is([type=text], [type=password]):autofill)
  background-clip text

:global(input:is([type=text], [type=password]) + label)
  background #fff
  border-radius 12px
  color #999
  font-weight 400
  left 0.6em
  line-height 24px
  padding 0 0.4em
  position absolute
  top -14px
  transition all 0.3s
  user-select none

:global(input:is([type=text], [type=password]):focus)
  border-color focus-color
  color #000

:global(input:is([type=text], [type=password]):focus + label)
  color focus-color

:global(input:is([type=text], [type=password]):hover)
  border-color hover-color

:global(input:is([type=text], [type=password]):hover + label)
  color hover-color

:global(input:is([type=text], [type=password]):disabled)
  background #f9f9f9
  color #999
  display inline-block
  position relative
  user-select none

:global(input:is([type=text], [type=password]):disabled + label)
  border-bottom 1px solid #eee

:global(input:is([type=text], [type=password])::-webkit-input-placeholder)
  user-select none

:global(input:is([type=text], [type=password])::placeholder)
  user-select none

:global(input:is([type=text], [type=password]):disabled:hover)
  border 1px solid #ccc

:global(input:is([type=text], [type=password]):placeholder-shown + label)
  background transparent
  color #999
  cursor text
  left 1em
  pointer-events none
  top 13px
